@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.eot");
  src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Roboto-Regular.woff2") format("woff2"),
    url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url("../font/Vazirmatn-Regular.eot");
  src: url("../font/Vazirmatn-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Vazirmatn-Regular.woff2") format("woff2"),
    url("../font/Vazirmatn-Regular.woff") format("woff"),
    url("../font/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'tanha';
  src: url('../font/Tanha.eot');
  src: url('../font/Tanha.eot?#iefix') format('embedded-opentype'),
      url('../font/Tanha.woff2') format('woff2'),
      url('../font/Tanha.woff') format('woff'),
      url('../font/Tanha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.MuiCard-root::-webkit-scrollbar {
  display: none;
}
